@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <button class="button" onclick="location.href='@Url.Action("Index", "CreateShortUrl")'">Create</button>
    <button class="button" onclick="location.href='@Url.Action("Index", "GetUrl")'">Get</button>
</div>